{% embed 'totem_submodules::totem.module.form/partials/form-group.twig' with {
    horizontal_layout: {}
} %}

    {% if label is defined %}
        {% block label %}
            <label {{ input_attributes.id is not empty ? 'for="#' ~ input_attributes.id ~ '"' }}>{{ label }}</label>
        {% endblock %}
    {% endif %}

    {% block field %}
        <input type="{{ input_attributes.type|default('text') }}"
            {% for attribute, value in input_attributes %}

                {% if value is same as(true) %}
                    {{ ' ' ~ attribute }}
                {% elseif value is not empty %}
                    {{ attribute }}="{{ value }}"
                {% endif %}

            {% endfor %}
        />
    {% endblock %}

{% endembed %}