{% embed 'totem_submodules::totem.module.form/partials/form-group.twig' with {
    validation: {
        class: 'form-group--error',
        title: 'Er is een fout opgetreden',
        content: 'U heeft niet het correct veld gebruikt'
    },
    horizontal_layout: {
        row_class: 'row--middle',
        aside_class: true,
        main_class: true
    }
} %}

    {% if label is defined %}
        {% block label %}
            <label {{ input_attributes.id is not empty ? 'for="#' ~ input_attributes.id ~ '"' }}>{{ label }}</label>
        {% endblock %}
    {% endif %}

    {% block field %}
        <input type="{{ input_attributes.type|default('text') }}"
            {% for attribute, value in input_attributes %}

                {% if value is same as(true) %}
                    {{ ' ' ~ attribute }}
                {% elseif value is not empty %}
                    {{ attribute }}="{{ value }}"
                {% endif %}

            {% endfor %}
        />
    {% endblock %}

{% endembed %}