{% embed 'totem_submodules::totem.module.form/partials/objects/form-group.twig' with {
    horizontal_layout: null
} %}

    {% block field %}
        <label {{ input_attributes.id is not empty ? 'for="#' ~ input_attributes.id ~ '"' }}>
            <input type="checkbox"
                {% for attribute, value in input_attributes %}
                    {% if value is same as(true) %}
                        {{ ' ' ~ attribute }}
                    {% elseif value is not empty %}
                        {{ attribute }}="{{ value }}"
                    {% endif %}
                {% endfor %}
            />
            {{ label }}
        </label>
    {% endblock %}

    {% if validation is iterable %}
        {% block validation %}
            {% include 'totem_submodules::totem.module.form/partials/objects/form-message.twig' with validation %}
        {% endblock %}
    {% endif %}

    {% if not description is empty %}
        {% block description %}
            {% include 'totem_submodules::totem.module.form/partials/objects/form-description.twig' with description %}
        {% endblock %}
    {% endif %}

{% endembed %}