<div class="form-group
    {{ class is not empty ? class }}
    {% if validation is iterable %}
        {{ validation.class|default('form-group--error') }}
    {% endif %}
">
    {% if horizontal_layout is defined and not horizontal_layout is same as(false)  %}

        <section class="form-group__main">
            <div class="row {{ horizontal_layout.row_class is not empty ? horizontal_layout.row_class }}">

                {% if block('label') is defined %}
                <div class="{{ horizontal_layout.label_class is not empty ? horizontal_layout.label_class : 'scol12 pcol12 tcol5 col4' }}">
                    {{ block('label' )}}
                </div>
                {% endif %}

                <div class="{{ horizontal_layout.field_class is not empty ? horizontal_layout.field_class : 'scol12 pcol12 tcol7 col8' }}">
                    {{ block('field' )}}
                </div>
            </div>
        </section>

        {% if block('validation') is defined %}
            <footer class="form-group__footer">
                <div class="row">
                    <div class="{{ horizontal_layout.validation_class is not empty ? horizontal_layout.validation_class : 'scol12 pcol12 tleft5 left4 tcol7 col8' }}">
                        {{ block('validation' )}}
                    </div>
                </div>
            </footer>
        {% endif %}

    {% else %}
        {{ block('label' ) }}
        {{ block('field' ) }}
        {{ block('validation' )}}
    {% endif %}

    {{ block('description' )}}
</div>